{
    "bracketSpacing": true,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "tabWidth": 4,
    "printWidth": 120
}
